---
import Layout from "@/layouts/Layout.astro";

import About from "@/sections/About.astro";
import Profile from "@/sections/Profile.astro";

import { basics } from "@resume";
const { name } = basics;
---

<Layout title=`${name}'s Resume` lang="en">
  <main>
    <Profile />
    <About />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
  }
</style>
