---
import Section from "@/components/Section.astro";
import ExperienceEntry from "@/components/ExperienceEntry.astro";

import { work } from "@resume";
---

<Section title="Work Experience">
  <ul>
    {
      work.map(({ position, name, startDate, endDate, summary, url }) => (
        <li>
          <ExperienceEntry
            title={position}
            subtitle={name}
            startDate={new Date(startDate)}
            endDate={endDate ? new Date(endDate) : undefined}
            summary={summary}
            url={url || undefined}
            includeMonth
          />
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
